<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			name="%perspectivesZestEditorName"
			icon="icons/perspective-zest-editor.gif"
			class="com.github.bookong.zesteditor.plugin.perspectives.ZestEditorPerspective"
			id="com.github.bookong.zesteditor.plugin.perspectives.ZestEditorPerspective" />
	</extension>

	<extension point="org.eclipse.ui.views">
		<category
			name="%viewsCategoryName"
			id="com.github.bookong.zesteditor.plugin.views" />
		<view
			name="%viewsNavigatorName"
			icon="icons/project.gif"
			category="com.github.bookong.zesteditor.plugin.views"
			class="com.github.bookong.zesteditor.plugin.views.NavigatorView"
			id="com.github.bookong.zesteditor.plugin.views.NavigatorView" />
	</extension>

</plugin>
